<div id="ad-leftBox">
    <div class="menu-top">
        <div class="letfButton">
            <button class="menu-btn" id="dashboard-btn"><i class="fas fa-desktop"></i></button>
            <br/>
            <span class="btn-title">대시보드</span>
        </div>
        <div class="rightButton">
            <button class="menu-btn" id="logout-btn"><i class="fas fa-sign-out-alt"></i></button>
            <br/>
            <span class="btn-title">로그아웃</span>
        </div>
    </div>
    <hr/>
    <div id="munu-bottom">
        
    </div>
</div>
<div class="component-box" id="ad-rightBox"></div>